<h1>New Consultation</h1>
<select type="" id="myusnd" name="" onchange="lolo()">
<option value="" selected disabled>-Seleccione Opción-</option>
<option>L</option>
<option>D</option>
<option>2</option>
</select>
<%= render 'form', consultation: @consultation %>

<%= link_to 'Back', consultations_path %>
