<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
</head>
<body class="fixed-background-body">
<div class="container">
<div class="row">
<div class="cardround-g container-fluid">  
      <h2>Esta es una app educativa</h2>
      <img src="/backgrounds/beginning-blank-blank-page-45718.jpg" class="promo"/>
</div>
<div class="cardround-g container-fluid fade">  
      <h2>Sistema ave</h2>
      <h5 class="light-blue-text text-darken-2">Esta es una aplicación educativa que cuenta con un sistema matemático único</h5>
      <img src="/icons/browser-1.png" class="img-home-fixed">
      <img src="/icons/cloud.png" class="img-home-fixed">
      <img src="/icons/desk.png" class="img-home-fixed">
      <h6 class="black-text">Rediseñando la asignación de costos en función del comercio responsable </h6>
</div>
<div class="cardround-g container-fluid fade">  
      <h2>Estudio sobre el algoritmo</h2>
      <h6 class="red-text text-darken-1">Puedes encontrar ejercicios prácticos, perfiles competitivos y un programa de estudios. </h6>
      <img src="/icons/exam.png" class="img-home-fixed">
      <img src="/icons/ebook-3.png" class="img-home-fixed">
      <img src="/icons/lecture.png" class="img-home-fixed">
      <h6>Por competencias puedes perfeccionar tus conocimientos del algoritmo</h6>
</div>
<div class="cardround-g container-fluid fade">  
      <h2>Disponible en múltiples plataformas</h2>
      <h5 class="red-text text-darken-1">En plataforma WEB, Android y IOS.</h5>
      <button  class="btn-warning btn-lg">Ingresar</button>
      <button  class="btn-primary btn-lg">Ingresar</button>
      <button  class="btn-danger btn-lg">Ingresar</button>
</div>
</div>
<div class="fixed-background" style="background-image: url('/backgrounds/business-conference-learning-7095.jpg');"></div>
<div class="row">
	  <div class="col-md-3 col-sm-12  cardround-g-column" style="margin-left: 40px;">
	  	<img src="/profiles/ororo.jpg" class="card-img-round-min">
	  	<h5 class="pink-text text-lighten-1">Desarrolladores</h5>
	  	<h6 class="brown-text text-lighten-2 font-italic">'Algún comentario muy inteligente, muy inspirador, muy bueno.'</h6>
	  	<br>
	  	<h6 class="text-justify" style="font-size: 15px;">
	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id condimentum ipsum, et tincidunt ipsum. Integer cursus tellus ac hendrerit blandit. </p>
	  	<p>Proin nec lorem ac urna vulputate pharetra dapibus eu turpis. 
	  	Nunc vel urna id leo iaculis dictum. Duis dignissim sodales nunc sit amet accumsan.
	  	</p> Praesent sit amet rhoncus ex. Curabitur finibus vestibulum risus, quis consectetur ante porttitor ac. Pellentesque rutrum tristique dictum.</h6>
	  </div>
	  <div class="col-md-3 col-sm-12 offset-md-1 cardround-g-column">
	  	<img src="/profiles/falcon.jpg" class="card-img-round-min">
	  	<h5 class="pink-text text-lighten-1">Asesor Interno</h5>
	  	<h6 class="brown-text text-lighten-2 font-italic">'Algún comentario muy inteligente, muy inspirador, muy bueno.'</h6>
	  	<br>
	  	<h6 class="text-justify" style="font-size: 15px;">
	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id condimentum ipsum, et tincidunt ipsum. Integer cursus tellus ac hendrerit blandit. </p>
	  	<p>Proin nec lorem ac urna vulputate pharetra dapibus eu turpis. 
	  	Nunc vel urna id leo iaculis dictum. Duis dignissim sodales nunc sit amet accumsan.
	  	</p> Praesent sit amet rhoncus ex. Curabitur finibus vestibulum risus, quis consectetur ante porttitor ac. Pellentesque rutrum tristique dictum.</h6>
	  </div>
	  <div class="col-md-3 col-sm-12 offset-md-1 cardround-g-column">
	  <img src="/profiles/mockingbird.jpg" class="card-img-round-min">
	  	<h5 class="pink-text text-lighten-1">Asesor Externo</h5>
	  	<h6 class="brown-text text-lighten-2 font-italic">'Algún comentario muy inteligente, muy inspirador, muy bueno.'</h6>
	  	<br>
	  	<h6 class="text-justify" style="font-size: 15px;">
	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id condimentum ipsum, et tincidunt ipsum. Integer cursus tellus ac hendrerit blandit. </p>
	  	<p>Proin nec lorem ac urna vulputate pharetra dapibus eu turpis. 
	  	Nunc vel urna id leo iaculis dictum. Duis dignissim sodales nunc sit amet accumsan.
	  	</p> Praesent sit amet rhoncus ex. Curabitur finibus vestibulum risus, quis consectetur ante porttitor ac. Pellentesque rutrum tristique dictum.</h6></div>
</div>
<div class="cardround-g  offset-md-2 col-md-10" style="margin: 40px 0px 0px 130px;">  
      <h2>Contactanos</h2>
      <h5 class="blue-text text-darken-1">En plataforma WEB, Android y IOS.</h5>
      <h6>www.enfje.com.ksnd</h6>
</div>
</div>
</body>
</html>