<div class="row">
	<div class="col s12 m7">
    <h2 class="header">Actualizaciones del sistema</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              <i class="material-icons">cast_connected</i>
               Se ejecutaron algunas actualizaciones el día 15/03/18 a las 17:00 HRS.
              <span class="new badge">3</span></div>
            <div class="collapsible-body">
            <p>Anexo: documentación lección 1</p>
            <p>Anexo: documentación lección 2</p>
            <p>Registro: Integrantes a clase B.</p>
            </div>
          </li>
        </ul>
        <div class="card-action">
          Para mas información <a href="#">da click en este enlace. </a>
        </div>
      </div>
    </div>
  	</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-6 col-xs-12">
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="mountains.jpeg" >
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Algoritmo AVE<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Aplicado en el método de transporte</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Método de transporte - Algoritmo AVE <i class="material-icons right">close</i></span>
      <span>El problema general del transporte se refiere a la distribución de mercancía desde cualquier conjunto de centro de suministro, denominados orígenes (fuentes), hasta cualquier conjunto de centros de recepción, llamados destinos, de tal forma que se minimicen los costos totales de distribución.</span><br>
      <span></span>
      <p>Puedes comenzar con las lecciones del algoritmo <a href="/sessions/1">Aquí</a>.</p>
    </div>
    </div>
 </div>
 <div class="col-md-6 col-lg-6 col-xs-12">
 	<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
 </div>
 </div>
<div class="row">	
<div class="col-md-6 col-lg-6 col-xs-12">
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="notebook.jpg" height="400px;">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Lecciones por nivel<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Accede a las lecciones de tu academia</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Lecciones<i class="material-icons right">close</i></span>
      <h4>Lecciones por nivel</h4>
      <span>Estamos trabajando para brindar un curso apropiado para cada uno de los estudiantes y profesores que pertenecen a nuestra comunidad <a href=""> Mas información. </a></span>

        <ul class="collapsible" data-collapsible="accordion">
  		 <li>
    	   <div class="collapsible-header">
      	   <i class="material-icons">filter_1</i>
      	   	De acuerdo a la documentación que sigue tu clase.
      	   <span class="new badge">1</span></div>
    	   <div class="collapsible-body"><p>Ejecutando una revisión continua de la documentación aplicada y sus ejercicios prácticos.</p></div>
	  	 </li>
  		 <li>
    	   <div class="collapsible-header">
      	   <i class="material-icons">filter_2</i>
      	   Academia y equipo de trabajo
      	   <span class="badge"></span></div>
    	   <div class="collapsible-body"><p>Con el respectivo apoyo de la academia.</p></div>
  		 </li>
  		 <li>
    	   <div class="collapsible-header">
      	   <i class="material-icons">filter_3</i>
      	   Comunidad de asesores
      	   <span class="badge"></span></div>
    	   <div class="collapsible-body"><p>Con soporte de la <a href="!">Comunidad de asesores</a>.</p></div>
  		 </li>
  		  <li>
    	   <div class="collapsible-header">
      	   <i class="material-icons">filter_4</i>
      	   Ejercicios y cuestionarios
      	   <span class="badge"></span></div>
    	   <div class="collapsible-body"><p>Ligada a ejercicios prácticos (constantemente actualizados).</p></div>
  		 </li>
	    </ul>     
    </div>
    </div>
 </div>
 <div class="col-md-6 col-lg-6 col-xs-12">
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="deskgreen.jpeg" height="400px">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Ejercicios prácticos<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Accede a la práctica complementaria.</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Ejercicios prácticos<i class="material-icons right">close</i></span>
      <p>Puedes comenzar a descubrir y sumar puntos con nuestros ejercicios <a href="">Ahora</a></p>
    </div>
    </div>
 </div>
</div>
<div class="row">
      <div class="col s4 m14 l4">
        <div class="card-panel bg-light">
          <span class="black-text">
        	Accede a la documentación de tus clases en este enlace <a href="!"> click aquí.</a>
          </span>
        </div>
      </div>
      <div class="col s4 m14 l4">
        <div class="card-panel bg-light">
          <span class="black-text">
        	Accede a los foros de tus clases en este enlace <a href="!"> click aquí.</a>
          </span>
        </div>
      </div>
      <div class="col s4 m14 l4">
        <div class="card-panel bg-light">
          <span class="black-text">
        	Accede a los resultados de tus clases en este enlace <a href="!"> click aquí.</a>
          </span>
        </div>
      </div>
    </div>
  <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel teal">
          <span class="white-text">
          Este sistema se esta ejecutando en función de la administración  efectiva de los recursos de programación. Para mas información da <a href="!"> click aquí.</a>
          </span>
        </div>
      </div>
    </div>
