<!DOCTYPE html>
<html>
<head>
	<title>AVE</title>
</head>
<body>
<!--
 <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
-->
   <div class="carousel carousel-slider center" style="height: 500px;" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2" href="/users/sign_in">Ingresar</a>
    </div>
    <div class="carousel-item red white-text" style="background-image: url('/backgrounds/art-art-materials-clips-159627.jpg');" href="#one!">
      <h2>Bienvenido</h2>
      <p class="white-text">Esta es una aplicación educativa que cuenta con un sistema....</p>
      <p>DDC</p>      
    </div>
    <div class="carousel-item amber white-text" style="background-image: url('/backgrounds/business-conference-learning-7095.jpg');" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" style="background-image: url('/backgrounds/art-art-materials-clips-159627.jpg');" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" style="background-image: url('/backgrounds/business-conference-learning-7095.jpg');" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
    <div class="carousel-item light-green accent-2 black-text" style="background-image: url('/backgrounds/art-materials-blank-business-351961.jpg');" href="#five!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
<div class="fixed-background2">  
      <h2>Esta es una app</h2>
      <p class="black-text">Esta es una aplicación educativa que cuenta con un sistema....</p>
      <img src="/promo1.png" class="cardround">
</div>
<div class="fixed-background">  
</div>
<div class="fixed-background2">  
      <h2>Esta es una app</h2>
      <p class="black-text">Esta es una aplicación educativa que cuenta con un sistema....</p>
      <img src="/promo2.png" class="cardround">
</div>
<div class="fixed-background">  
</div>
<div class="fixed-background2">  
      <h2>Esta es una app Web</h2>
      <p class="black-text">Esta es una aplicación educativa que cuenta con un sistema....</p>
      <img src="/promo3.png" class="cardround">
</div>
<div class="fixed-background">  
</div>
</body>
</html>