<!DOCTYPE html>
<html>
<head>
	<title>AVE</title>
</head>
<body style="background-color: #ff6b42;">
<div class="row">
<div class="col-md-6"><!--style="background-image: url('/promo1.png');"-->
 <img  class= "cardround promo" src="/promo1.png">
</div>
<div class="col-md-6"><!--style="background-image: url('/promo1.png');"-->
 <img  class= "cardround promo" src="/promo2.png">
</div>
</div>
<div class="row">
<div class="col-md-6"><!--style="background-image: url('/promo1.png');"-->
 <img  class= "cardround promo" src="/promo3.png">
</div>
<div class="col-md-6"><!--style="background-image: url('/promo1.png');"-->
 <img  class= "cardround promo" src="/promo2.png">
</div>
</div>

 <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

   <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>Bienvenido</h2>
      <p class="white-text">Esta es una aplicación educativa que cuenta con un sistema....</p>
      <p>DDC</p>      
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
    <div class="carousel-item light-green accent-2 black-text" href="#five!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
</body>
</html>