.navbar{	
	margin-top: -50px;
}
.navbar#mainlogo img{
	width: 100px; 
	height: 90px;
}
#header .maintextbar{
	margin-left: 50px;
	
}
#header .maintextbar input{
	margin-left: 10px;
}
#header input:focus{
	color: black;
}
#header{

	display: inline; 	
}
#header a:hover {

}
#search-icon{
	margin-bottom: 30px;
	margin-left: -10px;
}
.icon-small{
	 font-size: 20px;
    margin-bottom: 100px;
    margin-top: -13px;
}
.circle-small{
	font-size: 10px;
    width: 30px;
    height: 30px;
}
.container{
	    width: 1900px;
}
.item-list li a:hover{
	background-color: #FFF;
}