    <script type="text/javascript" src="malg2.js"></script>
    <h4 class="red-text text-accent-1">Lecci칩n 2</h4>
    <h2>Realizar  el balance en la tabla inicial</h2>
    <div ng-app="productsTableApp">
          <div ng-controller="ProductsController">
           <h5>1. Se deben de agregar la cantidad exacta de f치bricas y bodegas.</h5>
           <h5>2. Se deben ingresar el aporte exacto de cada demanda y oferta.</h5>
           <h5>3. En caso de ser importes iguales, obtendremos una tabla balanceada.</h5>
           <br>
            
                <input class="btnD btn btn-info pink"  type="button" value="+Bodega" ng-click="addColumn()"/>
                <input class="btnD btn btn-info lime" type="button" value="+F치brica" ng-click="addRow()"/>
 <br>
 <div id = "Pleccion"> </div>
 <br>
                <table id="DataFab" class=" table-bordered">
                <thead>
          <tr>
          </tr>
          </thead>
                    <tr ng-repeat="datum in data">
                        <td width="120px"> <button style="visibility: {{showD}}; width: {{widthD}}" class="btnD btn btn-danger red" data-ng-click="removeRow($index)">Eliminar f치brica</button></td>
                        <th width="50px"> F{{$index}}: </th>
                        <td ng-repeat="field in datum">
                            <input style="background-color: {{field.cellcolor}}; width: 100px;"
                             ng-change="{{metodoinput}}"
                             ng-model="field.valor"/>
                        <button width="120px" style="visibility: {{showD}}; width: {{widthD}}" class="btnD btn btn-danger red" ng-click="removeColumn($index)">Eliminar Bodega</button>
                       </td>
                    </tr>
                </table>
                  <br>
                <input class="btnDP btn btn-success" type="button"  value="Hecho" ng-click="completeTable()"/>
                <input class="btnD3 btn btn-warning" id="goback" type="button"  value="Regresar" ng-click="goBack()"/>
               <!-- <input class="btnD2 btn btn-success"  type="button" onclick="completeTableJS()" value="Continuar"/>-->                
                  <hr>
   
                             <br>
                <hr>
                <div id = "PleccionR"> </div>


              </div>
     </div>

<script type="text/javascript">
  $(document).ready(function(){
      $( "#goback").hide();
  });
</script>
