    <script type="text/javascript" src="malg3.js"></script>
    <h4 class="red-text text-accent-1">Lección 3</h4>
    <h2>Realizar el balance y ajuste en la tabla inicial</h2>
    <div ng-app="productsTableApp">
          <div ng-controller="ProductsController">
           <h5>1. En base al cálculo (balance) entre el total de demanda y ofertas, se determina si agregar una fábrica o bodega ficticia.</h5>
           <h5>2. Si hay una mayor cantidad en las bodegas, se agrega una fábrica ficticia.</h5>
           <h5>3. Si hay una mayor cantidad en las fábricas, se agrega una bodega ficticia.</h5>
            <br>
                <input class="btnD btn btn-info pink"  type="button" value="+Bodega" ng-click="addColumn()"/>
                <input class="btnD btn btn-info lime" type="button" value="+Fábrica" ng-click="addRow()"/>
 <br>
 <div id = "Pleccion"> </div>
 <br>
                <table id="DataFab" class=" table-bordered">
                <thead>
          <tr>
          </tr>
          </thead>
                    <tr ng-repeat="datum in data">
                        <td width="120px"> <button style="visibility: {{showD}}; width: {{widthD}}" class="btnD btn btn-danger red" data-ng-click="removeRow($index)"> - Fábrica</button></td>
                        <th width="50px"> F{{$index}}: </th>
                        <td ng-repeat="field in datum">
                            <input style="background-color: {{field.cellcolor}}; width: 100px;"
                             ng-change="{{metodoinput}}"
                             ng-model="field.valor"/>
                        <button width="120px" style="visibility: {{showD}}; width: {{widthD}}" class="btnD btn btn-danger red" ng-click="removeColumn($index)"> - Bodega</button>
                       </td>
                    </tr>
                </table>
                  <br>
                <input class="btnDP btn btn-success" type="button"  value="Hecho" ng-click="completeTable()"/>
                <input class="btnD3 btn btn-warning" id="goback" type="button"  value="Regresar" ng-click="goBack()"/>
               <!-- <input class="btnD2 btn btn-success"  type="button" onclick="completeTableJS()" value="Continuar"/>-->
                <input class="btnD3 btn btn-success" id="dobalance" ng-click="doAssigment()"  type="button"  value="Asignación"/>                
                  <hr>   
                <br>
                <hr>                  
                <div id = "PleccionR"> </div>
              </div>
     </div>

<script type="text/javascript">
  $(document).ready(function(){
      $( "#goback").hide();
      $( "#dobalance").hide();
  });
</script>
