<div class="col-12">
<center>
	<h1>Reportes</h1><br>
<div class="row card">
	<!--<h3>{{selectedReport}}</h3>-->
		<h4 class="pink-text"><b>Opciones</b></h4>
		<div class=" col-12 row">
		<div class="col-3">
		<h5>Tipo</h5>
		<select >
  			<option value="student">Estudiante</option>
  			<option value="visits">Asistencia</option>
		</select>
		</div>
		<div class="col-2">
		<h5>Tipo</h5>
		<input id="date" type="date">

		<select >
  			<option value="student">Estudiante</option>
  			<option value="visits">Asistencia</option>
		</select>
		</div>
		</div>		
		<br>
		<div style="display: inline-block;">
		<button class="btn btn-large  blue lighten-2" id="toGrp">
  		<i class="material-icons">equalizer</i> Gráfica</button>
  		<button class="btn btn-large red lighten-2">
  		<i class="material-icons">archive</i> PDF</button>
		</div><br>
</div>
<div class="row">
	<div class="col-12 card" id="mycontent">

	</div>	
</div>
</center>
</div>
<script>
</script>