<div class="col-12">
<center>
	<h1>Reportes</h1><br>
<div class="row card">
	<!--<h3>{{selectedReport}}</h3>-->
		<h4 class="pink-text"><b>Tipo</b></h4>
		<div class=" col-12 row">
		<select id="ctipo" onchange="changedocumentop()">
			<option value="" selected disabled>-Seleccione Opción-</option>
  			<option value="student">Mis estudiantes</option>
  			<option value="visits">Asistencia diaria</option>
  			<option value="partic">Participación</option>
		</select>
		<select id="cgroup" onchange="changedocumensub()">
			<option value="" selected disabled>-Seleccione grupo-</option>
			<option>Todos</option>
			<% groups_array = @mygroups.all.map { |g| [g.name, g.id] } %>
			<%= options_for_select(groups_array) %>
		</select>
		</div>		
		<br>
		<div style="display: inline-block;">
		<a class="btn btn-large  blue lighten-2 white-text" id="toGrp" target="_blank">
  		<i class="material-icons">equalizer</i> Gráfica</a>
  		<a class="btn btn-large red lighten-2 white-text" id="topdf" download>
  		<i class="material-icons">archive</i> PDF</a>
  		<a class="btn btn-large red lighten-1 white-text" id="topdfsee" target="_blank">
  		<i class="material-icons">visibility</i> PDF</a>
		</div><br>
</div>

</center>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#cgroup").hide();
});
$("#cgroup").hide();
	function changedocumentop() {
		$("#cgroup").hide();
		 var option = $("#ctipo").val();
		 switch (option){
		 	case 'student':		 			 
		 		$("#cgroup").show(1000);		
		 	break;
		 	case 'books':
		 		$("#flinked").css("display", "none");
		 	break;
		 	case 'references':
		 		$("#flinked").css("display", "none");
		 	break;
		 	default:
		 		console.log("none");
		 }
	}
		function changedocumensub() {
		 var option = $("#cgroup").val();
		 switch (option){
		 	case 'Todos':
		 		$("#topdf").attr('href','/gbygroupall.pdf');
		 		$("#topdfsee").attr('href','/gbygroupall.pdf');	 
		 		$("#toGrp").attr('href','/gbygroupall');	 		
		 	break;
		 	case '':
		 	break;
		 	default:
		 		var pdf = "/gbygroup/" + option;
		 		var graph = "/groups/"+ option;
		 		$("#topdf").attr('href','/gbygroupall.pdf');
		 		$("#topdfsee").attr('href','/gbygroupall.pdf');	 
		 		$("#toGrp").attr('href',graph);
		 		console.log("none");
		 }
	}
</script>